:host {
  display: inline-block;
  vertical-align: middle;

  &[data-slot=icon] {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    flex-shrink: 0;
    fill: var(--color-zinc-500);

    &:last-child {
      width: calc(var(--spacing) * 5);
      height: calc(var(--spacing) * 5);
      margin-left: auto;
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 40rem) {
  :host {
    &[data-slot=icon] {
      width: calc(var(--spacing) * 5);
      height: calc(var(--spacing) * 5);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    &[data-slot=icon] {
      fill: var(--color-zinc-400);
    }
  }
}
