:host {
  position: relative;
  display: flex;
  isolation: isolate;
  width: 100%;
  min-height: 100svh;
  background-color: var(--color-white);
}

@media (width >= 64rem) {
  :host {
    background-color: var(--color-zinc-100);
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    background-color: var(--color-zinc-900);
  }

  @media (width >= 64rem) {
    :host {
      background-color: var(--color-zinc-950);
    }
  }
}
