:host {
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing) * 4);
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  border-color:
    color-mix(in srgb, oklch(14.1% 0.005 285.823) 5%, transparent);

  @supports (color: color-mix(in lab, red, red)) {
    border-color:
      color-mix(in oklab, var(--color-zinc-950) 5%, transparent);
  }
}

@media (prefers-color-scheme: dark) {
  :host {
    border-color:
      color-mix(in srgb, #ffffff 5%, transparent);

    @supports (color: color-mix(in lab, red, red)) {
      .dark\:border-white\/5 {
        border-color:
          color-mix(in oklab, var(--color-white) 5%, transparent);
      }
    }
  }
}
